.tag {
    padding: 10px 10px;
    background: var(--fifth-color);
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    color: gray;
}

.tag:hover {
    background: var(--second-color);
    color: var(--fourth-color);
}

.active {
    background: var(--second-color);
    color: var(--fourth-color);
}
